<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqwu.edu.diary.service.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="cqwu.edu.diary.common.entity.SysUserEntity">
        <id column="ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFY_USER_ID" property="modifyUserId"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="NAME" property="name"/>
        <result column="MOBILE" property="mobile"/>
        <result column="EMAIL" property="email"/>
    </resultMap>

</mapper>